h1,h2,h3,p {
  font-family: 'Bungee Shade', cursive;
}



     // adding css to parraf inside the cards
 .demo,h2{
  font-size: 18px;
  font-family: 'Indie Flower', cursive;

 }

 .demo,a{
  font-family:'Bungee Shade', cursive;
  //color: black;
 }

.banner {
  background-size: cover;
  background-position: center;
  padding: 220px 0px;
  // code for the navbar js, delete if is neede
  height: 100vh;
  color: #eee;
  padding-top: 40vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// how we work section
#work h2{
  font-size:50px;
  padding: 30px;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
}

// cards
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.cards {
  padding: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
